// Place all the styles related to the shootings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shootings_list
  float: left
  width: 300px
  background: #f9f9ff
  height: 600px
